i{
	front-style:italic;
}

.motherfuckingwebsite
{
	color: red #c0392b;	
}

span.wr{
color: #c0392b;
font-weight: 600;
text-decoration: underline;
}

span.mfw
{
	color: red #c0392b;
}

span.well
{
	font-size: .4em;
}